@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;
}

html {
  display: block;
  height: -webkit-fill-available;
  width: 100vw;
  overflow-x: hidden;
}

body {
  display: block;
  margin: 0;
  background-color: rgb(30, 30, 36);
}

#console {
  font-family: 'IBM Plex Mono', monospace;
  color: rgb(255, 232, 229);
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 18px;
}

a {
  color: rgb(123, 241, 168);
  text-decoration: underline;
}

#a {
  color: rgb(254, 130, 119);
}

#c {
  color: #0bc;
}

#b {
  color: rgb(189, 178, 255);
}

#k {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9em;
  transition: color 300ms ease 0s;
  color: rgb(242, 105, 15);
}

#op {
  color: #888888;
}
